
	fieldset {
		border:			none;
		margin-top: 	20px;
	}
	
	label {
		display: 		block;
		border-bottom: 	1px solid #ddd;
		margin-bottom: 	20px;
		padding-bottom: 5px;
	}
	
	textarea {
		width:			400px;
		height: 		300px;
	}
	
	.fieldName {
		display: 		block;
		width:			120px;
		float:			left;
	}