
	table {
		border-collapse: 	collapse;
		width: 				100%;
		font-size: 			.8em;
	}
	
	table tr {
		text-align: 		left;
		border-bottom:		1px solid #ddd;
	}
	
	td {
		padding:			3px;
	}
	
	tr.even {
		background: 		#eee;
	}